* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: -0.0311em;
    padding-top: 15px;
    margin-left: 25px;
    color: white;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    display: inline-block;
    font-size: 2.2rem;
    padding-top: 20px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    display: inline-block;
    font-size: 1.3rem;
}

h4 {
    text-align: center;
    display: inline-block;
    font-size: 10rem;
    margin: 0px;
    padding: 0px;
}

#hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./images/508820.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.0311em;
    color: white;
}

#hero a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

#name {
    font-size: 1.9rem;
}

@media only screen and (max-width: 500px) {
    #hero {
        font-size: 1.9rem;
    }
    #name {
        letter-spacing: -0.0311em;
        font-size: 3rem;
    }
    #title {
        font-size: 1.9rem;
    }
}

#main {
    height: auto;
    width: 100%;
    background-color: white;
}


/* #cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
} */

#arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 12vh;
    text-align: center;
    line-height: 1;
    animation-name: arrow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        color: white;
        bottom: 0px;
    }
    20% {
        opacity: 0%;
        color: white;
        bottom: 15px;
    }
    40% {
        opacity: 100%;
        color: white;
        bottom: 0px;
    }
    60% {
        opacity: 0%;
        color: white;
        bottom: 15px;
    }
    80% {
        opacity: 100%;
        color: white;
        bottom: 0px;
    }
    100% {
        color: white;
        bottom: 0px;
    }
}

#white {
    min-height: 100vh;
    padding-top: 100vh;
    color: green;
    justify-content: center;
}

#container {
    color: black;
    margin: auto;
    max-width: 600px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 25px;
}

#footer a {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

#footer a:hover {
    color: blue;
}


/* EXPERIMENTAL */