* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./images/508820.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.0311em;
    color: white;
}

#heroP {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./images/508858.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.0311em;
    color: white;
}

#heroR {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./images/509031.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.0311em;
    color: white;
}

#name {
    font-size: 1.9rem;
}

.navbar-nav a i {
    font-size: 2rem;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar-nav i:hover {
    color: black;
}

#here {
    text-decoration: underline;
    text-decoration-color: black;
}


/* main */

main {
    width: 100%;
    background-color: white;
    justify-content: center;
}

#holder {
    height: 100vh;
}

#container {
    font-family: 'Nunito', sans-serif;
    color: black;
    margin: auto;
    max-width: 600px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#containerP {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: black;
    margin: auto;
    max-width: 600px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#containerR {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: black;
    margin: auto;
    max-width: fit-content;
    height: auto;
}

embed {
    width: 600px;
    height: 770px;
    margin-top: 30px;
}

#portfolioNav {
    color: white;
}

#container h2 {
    font-size: 2.2rem;
    padding-top: 20px;
}

#container h3 {
    font-size: 1.3rem;
}

#containerP h2 {
    font-size: 2.2rem;
    padding-top: 20px;
}

#containerP h3 {
    font-size: 1.3rem;
}


/* footer */

#footer {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 25px;
}

#monster {
    margin-top: 15px;
    font-size: 10rem;
    padding: 0px;
}

#footer a {
    color: black;
    font-size: 1.3rem;
}

#footer a:hover {
    text-decoration: none;
    animation-name: monster;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes monster {
    0% {
        color: black;
    }
    50% {
        color: blue;
    }
    100% {
        color: black;
    }
}


/* cloud */

#true {
    color: black;
    animation-name: storm;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#false:hover {
    color: black;
}

@keyframes storm {
    0% {
        color: black;
    }
    19% {
        color: black;
    }
    20% {
        color: white;
    }
    21% {
        color: gray;
    }
    24% {
        color: black;
    }
    30% {
        color: black;
    }
    31% {
        color: white;
    }
    32% {
        color: gray;
    }
    33% {
        color: white;
    }
    34% {
        color: gray;
    }
    37% {
        color: black;
    }
    81% {
        color: black;
    }
    82% {
        color: white;
    }
    83% {
        color: gray;
    }
    86% {
        color: black;
    }
}


/* arrow */

#thing {
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30vh;
    text-align: center;
    -webkit-animation: spin 120s linear infinite;
    -moz-animation: spin 120s linear infinite;
    animation: spin 120s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: .75;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: .5;
    }
    45% {
        opacity: .5;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: .25;
    }
    70% {
        opacity: .25;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: .75;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: .5;
    }
    45% {
        opacity: .5;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: .25;
    }
    70% {
        opacity: .25;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: .75;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: .5;
    }
    45% {
        opacity: .5;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: .25;
    }
    70% {
        opacity: .25;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 18vh;
    text-align: center;
    line-height: 1;
    animation-name: arrow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        color: white;
        bottom: 0px;
    }
    20% {
        opacity: 0%;
        color: white;
        bottom: 15px;
    }
    40% {
        opacity: 100%;
        color: white;
        bottom: 0px;
    }
    60% {
        opacity: 0%;
        color: white;
        bottom: 15px;
    }
    80% {
        opacity: 100%;
        color: white;
        bottom: 0px;
    }
    100% {
        color: white;
        bottom: 0px;
    }
}

.portfolioImg {
    max-width: 390px;
    min-width: 200px;
}

@media only screen and (max-width: 600px) {
    #name {
        letter-spacing: -0.0311em;
        font-size: 2.9rem;
        font-weight: bold;
    }
    #title {
        font-size: 1.9rem;
        font-weight: bold;
    }
    embed {
        width: 400px;
        height: 512px;
        margin-top: 30px;
    }
}